<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="../static/js/scripts.js"></script> -->
    
    <title>Dashboard</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <form action="/dashboard/update", method="POST">
        {% csrf_token %}
        Symbol: <input type="text" id="symbol" name="symbol" value="RTN"><br>
        Time: <select name="time_series" id="time_series">
            <option id="daily" value="TIME_SERIES_DAILY">Daily</option>
            <option id="weekly" value="TIME_SERIES_WEEKLY">Weekly</option>
            <option id="monthly" value="TIME_SERIES_MONTHLY">Monthly</option>
          </select><br>
        <input type="submit" id="submit" name="submit" value="Submit">
    </form>
    <p></p>
</body>
</html>