<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/scripts.js"></script>
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    
    <title>Dashboard</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <!-- <div id="data-output">
        <table>
            <tr>
                <th id="from_currency_name"></td>
                <th id="to_currency_name"></td>
            </tr>
            <tr>
                <td id="from_currency"></td>
                <td id="to_currency"></td>
            </tr>
        </table>
    </div> -->
</body>
</html>